{{#if formVisible}}
  <form>
    <label for="answer">Answer:</label>
    {{input value=content}}
    <label for="author">Author:</label>
    {{input value=author}}
    <button {{action 'saveNewAnswer'}}>Save Answer</button>
  </form>
{{else}}
  <button class="btn btn-default" {{action 'showForm'}}>Answer Question</button>
{{/if}}
