{{#if formVisible}}
  <form>
    <label for="content">Question</label>
    {{input value=model.content}}
    <label for="author">Author</label>
    {{input value=model.author}}
    <label for="notes">Notes</label>
    {{input value=model.notes}}
    <button  class="btn btn-default" {{action 'saveEditQuestion' model}}>Save</button>
  </form>
{{else}}
  <div>
    <p>Author: {{model.author}}</p>
    <p>Question: {{model.content}}</p>
    <p>Notes: {{model.notes}}</p>
  </div>
  <button  class="btn btn-default" {{action 'showForm'}}>Edit Question</button>
{{/if}}
{{answer-list model=model.answers}}
