<div class="new-question">
  {{#if formVisible}}
    <form class="newQuestionForm">
      <label for="content">Question</label>
      {{input value=content}}
      <label for="author">Name</label>
      {{input value=author}}
      <label for="notes">Notes</label>
      {{input value=notes}}
      <button class="btn btn-default" {{action 'saveNewQuestion'}}>Save Question</button>
    </form>
  {{else}}
    <button class="btn btn-default" {{action 'showForm'}}>Ask Question</button>
  {{/if}}
</div>
